<div class="wrapper">
  <!-- Navbar -->
  <app-nav-bar></app-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-side-bar></app-side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-page-header></app-page-header>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>

</div>


